# Python Classes

In [ ]:
# Basic definition of a class in Python

In [1]:
# Variable declaration
variable1 = 'Name'

# Function declaration 
def function1():
    print('Function 1')

# Dictionary declaration 
dictionary1 = {'key1': 'value1'} 

# cars in dictionary    
car1 = {'brand': 'Ford', 'model': 'Mustang', 'year': 1964} 
cars ={}
cars['car1'] = car1  

# List declaration 
list1 = ['item1', 'item2', 'item3'] # mutable object

# Tuple declaration 
tuple1 = ('item1', 'item2', 'item3') #immutable object 

# Set declaration 
set1 = {'item1', 'item2', 'item3'} # mutable object

In [2]:
cars

{'car1': {'brand': 'Ford', 'model': 'Mustang', 'year': 1964}}

In [64]:
# Classes 

# Data Structures


name = 'John' 

#initialize the class 
class MyClass: # OBJECT 
    # function inside the class
    def __init__(self, name, age): 
        self.name = name 
        self.age = age
        self.x1 = 5
        self.y1 = 10
        self.x2 = 15
        self.y2 = 20
        # variable inside the class 
        # intilization of the class
    
    def print_name(self, inputs):                       # methods 
        print("Hello my name is " + self.name + " and I am " + str(self.age) + " years old")
    
    def eucleadian_dist(self, x1, x2, y1, y2):
        """Calculate the distance between 2 points."""
        distance = ((self.x2 - self.x1)**2 + (self.y2 - self.y1)**2)**0.5
        return distance

In [59]:
instance1 = MyClass('John', 36) # instance of the class

In [54]:
instance1.print_name('Hello') # calling the method of the class

Hello my name is John and I am 36 years old

In [63]:
instance1.eucleadian_dist(x1 = 24, x2 =30, y1 =40, y2 =50) # calling the method of the class

TypeError: MyClass.eucleadian_dist() got an unexpected keyword argument 'x1'

In [61]:
# Excercise 

# 1. create a class 'Emplyee' with the following attributes:
#   - name
#   - age
#   - salary
# 2. methods 
#   1. print_name
#   2. calculate the year of birth 
#   3. input from the user about new salary (Check the current salary and increment the salary) 
#   - only 10% increment is possible no more than that

In [23]:
Employee3.name

NameError: name 'Employee3' is not defined

In [75]:
class Employee(Person):
    def __init__(self, name, age, salary):
        self.name = name
        self.age = age
        self.salary = salary
        
    def print_name(self):
        print('Hello my name is ' + self.name + ' and I am ' + str(self.age) + ' years old')
        
    def year_of_birth(self):
        year = 2021 - self.age
        print(year)
        return year
    
    def increment_salary(self, new_salary):
        if new_salary > self.salary * 1.1:
            print('You cannot increase the salary more than 10%')
            new_salary = self.salary + self.salary * 0.1
            print('The new salary is ' + str(new_salary)) 
        else:
            self.salary = new_salary
            print('The new salary is ' + str(self.salary))
        new_salary = self.salary + self.salary * 0.1

        self.salary = new_salary
        return new_salary

In [78]:
# initialize the class instances 
Employee1 = Employee('John', 36, 100000)
Employee2 = Employee('Jane', 30, 80000) 
Employee3 = Employee('Jack', 25, 60000) 

Employee1.print_name() 
Employee1.year_of_birth() 
Employee1.increment_salary(109000) 

print('*'*50)

Employee2.print_name() 
Employee2.year_of_birth() 
Employee2.increment_salary(120000) 

print('*'*50)

Employee3.print_name() 
Employee3.year_of_birth()
Employee3.increment_salary(120000)

Hello my name is John and I am 36 years old
1985
The new salary is 109000
**************************************************
Hello my name is Jane and I am 30 years old
1991
You cannot increase the salary more than 10%
The new salary is 88000.0
**************************************************
Hello my name is Jack and I am 25 years old
1996
You cannot increase the salary more than 10%
The new salary is 66000.0

66000.0

In [96]:
class Managers(Employee, Class-N):
    def __init__(self, name, age, salary, people_managed):
        super().__init__(self, name, age, salary)
        self.people_managed = people_managed
        self.name = name

    def check_people_managed(self):
        print('I manage ' + str(self.people_managed) + ' people')
        return self.people_managed

In [97]:
Manager1 = Managers('John', 36, 100000, 3)

In [102]:
Manager1.print_name()
Manager1.check_people_managed()

Hello my name is John and I am 36 years old
I manage 3 people

3

In [114]:
class Dog:
    # Global variable 
    tricks =[]

    def __init__(self, name, age):
        self.name = name
        self.age = age
        # self.tricks = [] # instance variable 

    def bark(self):
        print('Woof woof')

    def dog_age(self):
        print('My dog is ' + str(self.age) + ' years old')

    def dog_name(self):
        print('My dog name is ' + self.name)
    
    def add_trick(self, trick): 
        self.tricks.append(trick)
        print(self.tricks)

In [111]:
Dog1 = Dog('Buddy', 5)
Dog2 = Dog('Max', 3)
Dog3 = Dog('Charlie', 2)

In [112]:
Dog2.add_trick('roll over')

['roll over', 'play dead', 'roll over']

In [109]:
Dog2.add_trick('play dead')

['roll over', 'play dead']

In [113]:
Dog3.tricks

['roll over', 'play dead', 'roll over']

In [115]:
# 1. what is a class 
# 2. Difference between class and instance 
# 3. inhertiance 
# 4. super()
# 5. class variables (Global variables)
# Write class methods and how to call them from a different class (Base class and derived class)

In [ ]:
# SUPER

In [ ]:
# Classes and Examples 

# Write a Python class Employee with attributes like 
# emp_id, emp_name, emp_salary, and emp_department and methods 
# like calculate_emp_salary, emp_assign_department, and print_employee_details.
# Sample Employee Data:
# "ADAMS", "E7876", 50000, "ACCOUNTING"
# "JONES", "E7499", 45000, "RESEARCH"
# "MARTIN", "E7900", 50000, "SALES"
# "SMITH", "E7698", 55000, "OPERATIONS"
# Use 'assign_department' method to change the department of an employee.
# Use 'print_employee_details' method to print the details of an employee.
# Use 'calculate_emp_salary' method takes two arguments: salary and hours_worked, which is the number of hours worked by the employee. If the number of hours worked is more than 50, the method computes overtime and adds it to the salary. Overtime is calculated as following formula:
# overtime = hours_worked - 50
# Overtime amount = (overtime * (salary / 50))

In [26]:
class Employee: 

    def __init__(self, name, id_number, salary, dept):
        self.emp_id = id_number
        self.emp_name = name
        self.emp_salary = salary
        self.emp_department = dept
    
    def calculate_hours(self, hours_worked):
        return hours_worked - 50


    def calculate_emp_salary(self, hours_worked):
        if hours_worked > 50: 
            ot_hours = self.calculate_hours(hours_worked)
            return self.emp_salary + ot_hours*(self.emp_salary/50)
        
        else: 
            return self.emp_salary
    
    def assign_department(self, new_dept):
        self.emp_department = new_dept
        print(f"The new Dept for {self.emp_name} is {new_dept}")
    
    def print_employee_details(self):
        print(f"Emloyee ID : {self.emp_id}")
        print(self.emp_department)
        print(self.emp_name)
        print(f"${self.emp_salary}")

In [39]:
employee1 = Employee("ADAMS", "E7876", 50000, "ACCOUNTING")
employee2 = Employee("JONES", "E7499", 45000, "RESEARCH")
employee3 = Employee("MARTIN", "E7900", 50000, "SALES")
employee4 = Employee("SMITH", "E7698", 55000, "OPERATIONS")

In [40]:
emp = [employee1, employee2, employee3, employee4]

In [41]:
employee1.print_employee_details()

Emloyee ID : E7876
ACCOUNTING
ADAMS
50000

In [32]:
# Excercises with the employee dataset 
# 1. If the employee switches from accounting to sales we will add 10000 to his salary 
# 2. We want to check the new salary for all the emplyees who worked for 60 hours this time.

False

In [50]:
for e in emp:
    if e.emp_department == "ACCOUNTING":
        print(e.emp_department)
        print(e.emp_name)
        print(e.emp_id)
        e.assign_department("SALES")
        e.emp_salary = e.emp_salary + 10000

    print(f"{e.emp_id}: ${e.calculate_emp_salary(60)}")

E7876: $84000.0
E7499: $54000.0
E7900: $60000.0
E7698: $66000.0

In [49]:
for e in emp:
    e.print_employee_details()

Emloyee ID : E7876
SALES
ADAMS
70000
Emloyee ID : E7499
RESEARCH
JONES
45000
Emloyee ID : E7900
SALES
MARTIN
50000
Emloyee ID : E7698
OPERATIONS
SMITH
55000

'ACCOUNTING'