In [7]:
# STRINGS 
name = "name"
print(name)

# UPPER CASE (Functions)
print(name.upper())

# name = 'LOWER CASE (Functions)'
print(name.split(' '))

name
NAME
['name']

In [20]:
# name.split('a')

string = 'JacKandJillWentUpTheHillToFetchAPailOfWater'

print(string.split('a'))

['J', 'cK', 'ndJillWentUpTheHillToFetchAP', 'ilOfW', 'ter']

In [23]:
#string.count('a')
# string.find('K')
#string = string.replace('a', 'A')
#

3

'JacKandJillWentUpTheHillToFetchAPailOfWater'

In [6]:
# Concatenate
a = "Hello"
space = " "
b = "World"
print(a + space + b)

Hello World

In [8]:
# INPUTS  
number = input("Enter a number: ")

int(number)
float()

# Print the number
print("You entered: "+number)

You entered: 20

TEXT

In [ ]:
# Arithematic Operations
# Addition +
# subtraction -
# multiplication *
# division /
# modulo %
# exponentiation **
# floor division //

In [14]:
# Example

a = 10 
b = 20.2

c = a + b # Addition
d = a - b # Subtraction
e = a * b # Multiplication
f = a / b # Division

print(c,d)

30.2 -10.2

In [17]:
number1 = input("Enter a number1: ") # STRING
number2 = input("Enter a number2: ")
# STRING 
number1 = float(number1) # TYPE CASTING # NUMBER 
number2 = float(number2) # TYPE CASTING

print(number1 + number2)

30.0

In [23]:
number1 = float(input("Enter a number1: ")) # STRING
number2 = float(input("Enter a number2: "))

print(number1 + float(number2))

10.020

In [27]:
#Experiment 
# 1. Create a program that takes two inputs and adds them together
#perform the following operations
# 2. Subtraction
# 3. Multiplication
# 4. Division
# 5. Modulo %
# 6. Exponentiation **
# 7. Floor Division //

# Example of floor division
# 10 / 3 = 3.3333333333333335
# 10 // 3 = 3
# modulo
# 10 % 3 = 1 # Remainder

# print the results of each operation

a = float(input("Enter a number1: "))
b = float(input("Enter a number2: "))
addition = a + b
print("Addition :", addition)

Addition : 30.0

In [35]:
# Conditional Statements
# if
# elif
# else

#Comparison Operators
# > greater than
# < less than
# >= greater than or equal to
# <= less than or equal to
# == equal to
# != not equal to


# Example

a = 10
b = 20

# IF STATEMENT 
# It evaluates the expression and executes the code block if the condition is True

if a > b : # Expression that evaluates to True or False (Tab = 4 spaces) # 0 or 1 
    ###################################################
    print("a is greater than b")
    print(a)
    # Multiple lines of code in the block
    ###################################################

elif a == b: # Else if
    ###################################################
    print("a is equal to b")
    print(a,b)
    ###################################################
else:
    ###################################################
    print("a is less than b")
    print(b)
    ###################################################


# C Programming Language start { } end

a is less than b
20

In [41]:
# USER INPUTS 
multiplication = False
addition = False
subtraction = False


Fn1
Fn2 
Fn3

# bool()
number1 = 20
number2 = 20

# Example 
# if the number 1 is greater than number 2 then perform the addition
# if the number 1 is less than number 2 then perform the subtraction
# if the number 1 is equal to number 2 then perform the multiplication
# does user want to perform the addition, subtraction or multiplication
# I will use boolean values to determine the operation to perform

# Logical Expressions
# and - if both are true then the expression is true
# or - if any of it is true then the expression is true
# not - if the expression is false then it is true

if(addition or subtraction or multiplication):
 ###############################################
    if number1 > number2:
        if addition:
            print(number1 + number2)
        else:
            print("User doesn't want to perform addition")

    elif number1 < number2:
        if subtraction:
            print(number1 - number2)
        else:
            print("User doesn't want to perform subtraction")

    elif number1 == number2:
        if multiplication:
            print(number1 * number2)
        else:
            print("User doesn't want to perform multiplication")

    else:
        print("Invalid")
        ###############################################
else:
    print("User Doesn't want to perform any operation")

User Doesn't want to perform any operation

Calculator that performs 4 operations on two numbers: addition, subtraction, multiplication, and division. The calculator will display the result of the operation and the remainder of the division if the operation is division. The calculator will also display an error message if the operation is invalid.

In [42]:
# Let's build a Simple calculator
# 1. Addition
# 2. Subtraction
# 3. Multiplication
# 4. Division

# User inputs (Numbers)

# User inputs (Operation) (1,2,3,4) (1- addition, 2- subtraction, 3- multiplication, 4- division)

# Perform the operations using if and elif statements.

# HINTS 
# Use the input function to take user inputs
# 3 User inputs (number1, number2, operation)
# Use if and elif statements to perform the operations
# Else statement to handle invalid operations (Example: 20)
# Check for division by zero also. (number 2 should not be zero) use if statement to check for this condition and print an error message. 
# and this should only happen if operation is division.

# Advanced (Learnings: string comparison and boolean assignments) 
# Check for the operation using a string (Example: "add", "sub", "mul", "div")  
# and assign the operation to a variable and use the variable in the if and elif statements.
# Add other operations like modulo, exponentiation, floor division etc.

print("Simple Calculator")
print("1. Addition")
print("2. Subtraction")
print("3. Multiplication")
print("4. Division")

print("You can perform these operations on 2 numbers ")

number1 = float(input("Enter a number1: "))
number2 = float(input("Enter a number2: "))
operation = int(input("Enter the operation: "))

if operation == 1:
    print(number1 + number2)
elif operation == 2:
    print(number1 - number2)
elif operation == 3:
    print(number1 * number2)
elif operation == 4:
    if number2 != 0:
        print(number1 / number2)
    else:
        print("Number 2 should not be zero")
elif operation == 5:
    print(number1 % number2)
elif operation == 6:
    print(number1 ** number2)
else:
    print("Invalid Operation")

Simple Calculator
1. Addition
2. Subtraction
3. Multiplication
4. Division
You can perform these operations on 2 numbers
30.0

## CLASS 2: Lists and For Loops

In [72]:
# Data structures

# Lists

ListB = [1,2,3,4,5] # List of numbers

# Accessing elements in a list
#  Python is a zero based index language
ListB[0]

# Slicing
ListB[1:3]
ListB[3:]
ListB[:3]

# Modifying elements in a list
ListB[0] = 10

In [49]:
## ListB[#index]= value

# Adding elements to a list
ListB.append(6)

In [85]:
ListB.append(7)
# ListB.clear()
ListB.count(7)

10

In [90]:
ListB.index(7)
ListB.insert(3, 100)
ListB.pop()

In [111]:
A = [1,5, 6, 7,3 ,4 ,2, 8, 9, 10]
A

[1, 5, 6, 7, 3, 4, 2, 8, 9, 10]

In [101]:
A.reverse()

In [105]:
A.sort(reverse=True)

In [112]:
A.sort(reverse=True)

In [113]:
A

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [31]:
ListM = [[1,2], [3,4]] # Nested List
ListM[0]

[1, 2]

In [115]:
ListB

[100, 10, 10, 100, 2, 3, 4, 5, 7, 7, 7, 7, 7, 7, 7, 7, 7]

In [120]:
ListB

[100, 10, 10, 100, 2, 3, 4, 5, 7, 7, 7, 7, 7, 7, 7, 7, 7]

In [118]:
# FOR LOOP

# square all the elements in the list
for i in ListB:
    element = element * element

    print(element)

10000
100
100
10000
4
9
16
25
49
49
49
49
49
49
49
49
49

In [129]:
ListB.clear()
ListB = [i for i in range(1, 11)]

In [132]:
# iterate through the list and print the elements it only iterates when it is a for loop 
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [133]:
ListB

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [134]:
for i in range(len(ListB) - 1):
    ListB[i] = ListB[i + 1] * ListB[i]

In [136]:
List = ["Apple", "Banana", "Cherry"]

In [139]:
List.append('Guava')

In [141]:
List.pop()

'Guava'

In [142]:
List

['Apple', 'Banana', 'Cherry']

In [135]:
ListB

[2, 6, 12, 20, 30, 42, 56, 72, 90, 10]

In [ ]:
range(1, 10)

In [152]:
oddNumbers = []
for i in range(1, 10, 2): # Range function (start, end, step)
    oddNumbers.append(i+1)

In [153]:
oddNumbers

[2, 4, 6, 8, 10]

In [186]:
List.append('Apple')

In [188]:
List.insert(2, 'Orange')

In [191]:
List.remove('Orange')

In [193]:
orangePresent = False

for fruit in List:
    if fruit != "Orange":
        pass
    else:
        orangePresent = True
        break # Breaks the loop

if not(orangePresent):
    List.append('Orange')

In [194]:
List

['Banana',
 'Cherry',
 'Apple',
 'Apple',
 'Apple',
 'Apple',
 'Apple',
 'Apple',
 'Apple',
 'Orange']

In [180]:
i = 0 

for j in range(10):
    if i > 0: 
        print("Positive")

In [178]:
i = i + 2

In [175]:
List = List[:3] # List slicing

In [176]:
List

['Banana', 'Cherry', 'Apple']

AttributeError: 'list' object has no attribute 'unique'

In [211]:
Numbers = [1,2,3,4,5,6,7,8,9,10]

In [214]:
# List Comprehension
NewNumbers = [i*2 for i in Numbers]

In [215]:
NewNumbers

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [209]:
Numbers = [1,2,3,4,5,6,7,8,9,10]

# Print the even numbers in the list
for i in range(len(Numbers)):
    Numbers[i] = Numbers[i] * 2

In [210]:
Numbers

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [221]:
# Nested List 
List_of_numbers = [[i*2 for i in Numbers], [i*3 for i in Numbers], [i*4 for i in Numbers]]

In [217]:
len(List_of_numbers)

2

In [202]:
len(List_of_numbers)

4

In [222]:
print(List_of_numbers)

[[2, 4, 6, 8, 10, 12, 14, 16, 18, 20], [3, 6, 9, 12, 15, 18, 21, 24, 27, 30], [4, 8, 12, 16, 20, 24, 28, 32, 36, 40]]

In [244]:
array = [[1,2,3,4,5,6,7,8,9], [10,20,30,40,50,60,70,80,90], [100, 200, 300, 400, 500, 600, 700, 800, 900]]

In [245]:
array

[[1, 2, 3, 4, 5, 6, 7, 8, 9],
 [10, 20, 30, 40, 50, 60, 70, 80, 90],
 [100, 200, 300, 400, 500, 600, 700, 800, 900]]

In [250]:
for i in range(1):
    #[1,2,3,4,5,6,7,8,9]
    for j in range(1):
        # [1]
        print(array[i][j])

1

In [243]:
# Nested FOR LOOP
for i in range(len(array)):
    # index of the first loop
    for j in range(len(array[i])):
        # j is the index of the second loop
        print(array[i][j])
    
    break

1
2
3

In [237]:
print(array[0][0])

1

In [ ]:
# Excercise 
# 1. Create a list of numbers from 1 to 100
# 2. Print the even numbers in the list (For Loop)
# 3. Print the odd numbers in the list  (For Loop)
# 4. Print the numbers divisible by 3 (List Compreshension)

# List comprehension

In [251]:
# Lsit comprehension 

div3 = [i for i in range(1, 101) if i % 3 == 0]

In [252]:
div3

[3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99]